In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv('api_keys.env')

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [10]:
# Import alpaca-py as alpaca
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoLatestQuoteRequest, CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame
from datetime import datetime

In [11]:
# Declaring variable for client
client = CryptoHistoricalDataClient()

In [12]:
# Setting up params for request
request_params = CryptoLatestQuoteRequest(symbol_or_symbols="BTC/USD")

In [13]:
# Grabbing latest price with client
latest_quote = client.get_crypto_latest_quote(request_params)

In [14]:
# must use symbol to access even though it is single symbol
latest_quote["BTC/USD"].ask_price

18835.74

In [15]:
# Updating params for historical price data
request_params = CryptoBarsRequest(
                        symbol_or_symbols=["BTC/USD"],
                        timeframe=TimeFrame.Day,
                        start=datetime.strptime("2012-07-01", '%Y-%m-%d')
                        )

In [16]:
# Grabbing historical data
bars = client.get_crypto_bars(request_params)

In [17]:
# convert to dataframe
bars.df

                                       open      high       low     close  \
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00   7314.00   7314.00   7314.00   7314.00
        2020-04-14 05:00:00+00:00   7101.50   7101.50   7100.00   7100.00
        2020-04-22 05:00:00+00:00   7118.50   7118.50   7118.50   7118.50
        2020-04-28 05:00:00+00:00   7748.50   7836.00   7748.50   7836.00
        2020-04-30 05:00:00+00:00   8829.00   8829.00   8653.00   8653.00
...                                     ...       ...       ...       ...
        2023-01-08 06:00:00+00:00  16935.27  17248.53  16910.00  17196.67
        2023-01-09 06:00:00+00:00  17198.94  17387.05  17126.73  17221.37
        2023-01-10 06:00:00+00:00  17221.10  17500.00  17182.07  17402.92
        2023-01-11 06:00:00+00:00  17401.42  18350.00  17312.68  18079.38
        2023-01-12 06:00:00+00:00  18079.40  19109.28  17919.62  18834.83

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00      0.000100          1.0   7314.000000
        2020-04-14 05:00:00+00:00      0.000200          2.0   7100.750000
        2020-04-22 05:00:00+00:00      0.000100          1.0   7118.500000
        2020-04-28 05:00:00+00:00      0.084000          2.0   7835.687500
        2020-04-30 05:00:00+00:00      0.013400          3.0   8715.805970
...                                         ...          ...           ...
        2023-01-08 06:00:00+00:00   4780.862636      60160.0  17095.062466
        2023-01-09 06:00:00+00:00   6368.736182      88983.0  17245.549935
        2023-01-10 06:00:00+00:00   7089.683228      85482.0  17355.307832
        2023-01-11 06:00:00+00:00  11652.868871     130476.0  17807.792543
        2023-01-12 06:00:00+00:00  17258.441671     195556.0  18410.393449

[980 rows x 7 columns]

In [18]:
# Setting as dataframe variable
btc_df = bars.df
btc_df

                                       open      high       low     close  \
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00   7314.00   7314.00   7314.00   7314.00
        2020-04-14 05:00:00+00:00   7101.50   7101.50   7100.00   7100.00
        2020-04-22 05:00:00+00:00   7118.50   7118.50   7118.50   7118.50
        2020-04-28 05:00:00+00:00   7748.50   7836.00   7748.50   7836.00
        2020-04-30 05:00:00+00:00   8829.00   8829.00   8653.00   8653.00
...                                     ...       ...       ...       ...
        2023-01-08 06:00:00+00:00  16935.27  17248.53  16910.00  17196.67
        2023-01-09 06:00:00+00:00  17198.94  17387.05  17126.73  17221.37
        2023-01-10 06:00:00+00:00  17221.10  17500.00  17182.07  17402.92
        2023-01-11 06:00:00+00:00  17401.42  18350.00  17312.68  18079.38
        2023-01-12 06:00:00+00:00  18079.40  19109.28  17919.62  18834.83

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00      0.000100          1.0   7314.000000
        2020-04-14 05:00:00+00:00      0.000200          2.0   7100.750000
        2020-04-22 05:00:00+00:00      0.000100          1.0   7118.500000
        2020-04-28 05:00:00+00:00      0.084000          2.0   7835.687500
        2020-04-30 05:00:00+00:00      0.013400          3.0   8715.805970
...                                         ...          ...           ...
        2023-01-08 06:00:00+00:00   4780.862636      60160.0  17095.062466
        2023-01-09 06:00:00+00:00   6368.736182      88983.0  17245.549935
        2023-01-10 06:00:00+00:00   7089.683228      85482.0  17355.307832
        2023-01-11 06:00:00+00:00  11652.868871     130476.0  17807.792543
        2023-01-12 06:00:00+00:00  17258.441671     195556.0  18410.393449

[980 rows x 7 columns]

In [19]:
# Checking info
btc_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 980 entries, ('BTC/USD', Timestamp('2020-04-08 05:00:00+0000', tz='UTC')) to ('BTC/USD', Timestamp('2023-01-12 06:00:00+0000', tz='UTC'))
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         980 non-null    float64
 1   high         980 non-null    float64
 2   low          980 non-null    float64
 3   close        980 non-null    float64
 4   volume       980 non-null    float64
 5   trade_count  980 non-null    float64
 6   vwap         980 non-null    float64
dtypes: float64(7)
memory usage: 96.6+ KB