In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv('api_keys.env')

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [10]:
# Import alpaca-py as alpaca
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoLatestQuoteRequest, CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame
from datetime import datetime

In [11]:
# Declaring variable for client
client = CryptoHistoricalDataClient()

In [12]:
# Setting up params for request
request_params = CryptoLatestQuoteRequest(symbol_or_symbols="BTC/USD")

In [13]:
# Grabbing latest price with client
latest_quote = client.get_crypto_latest_quote(request_params)

In [14]:
# must use symbol to access even though it is single symbol
latest_quote["BTC/USD"].ask_price

18835.74

In [15]:
# Updating params for historical price data
request_params = CryptoBarsRequest(
                        symbol_or_symbols=["BTC/USD"],
                        timeframe=TimeFrame.Day,
                        start=datetime.strptime("2020-04-01", '%Y-%m-%d')
                        )

In [16]:
# Grabbing historical data
bars = client.get_crypto_bars(request_params)

In [17]:
# convert to dataframe
bars.df

                                       open      high       low     close  \
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00   7314.00   7314.00   7314.00   7314.00
        2020-04-14 05:00:00+00:00   7101.50   7101.50   7100.00   7100.00
        2020-04-22 05:00:00+00:00   7118.50   7118.50   7118.50   7118.50
        2020-04-28 05:00:00+00:00   7748.50   7836.00   7748.50   7836.00
        2020-04-30 05:00:00+00:00   8829.00   8829.00   8653.00   8653.00
...                                     ...       ...       ...       ...
        2023-01-08 06:00:00+00:00  16935.27  17248.53  16910.00  17196.67
        2023-01-09 06:00:00+00:00  17198.94  17387.05  17126.73  17221.37
        2023-01-10 06:00:00+00:00  17221.10  17500.00  17182.07  17402.92
        2023-01-11 06:00:00+00:00  17401.42  18350.00  17312.68  18079.38
        2023-01-12 06:00:00+00:00  18079.40  19109.28  17919.62  18834.83

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00      0.000100          1.0   7314.000000
        2020-04-14 05:00:00+00:00      0.000200          2.0   7100.750000
        2020-04-22 05:00:00+00:00      0.000100          1.0   7118.500000
        2020-04-28 05:00:00+00:00      0.084000          2.0   7835.687500
        2020-04-30 05:00:00+00:00      0.013400          3.0   8715.805970
...                                         ...          ...           ...
        2023-01-08 06:00:00+00:00   4780.862636      60160.0  17095.062466
        2023-01-09 06:00:00+00:00   6368.736182      88983.0  17245.549935
        2023-01-10 06:00:00+00:00   7089.683228      85482.0  17355.307832
        2023-01-11 06:00:00+00:00  11652.868871     130476.0  17807.792543
        2023-01-12 06:00:00+00:00  17258.441671     195556.0  18410.393449

[980 rows x 7 columns]

In [18]:
# Setting as dataframe variable
btc_df = bars.df
btc_df

                                       open      high       low     close  \
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00   7314.00   7314.00   7314.00   7314.00
        2020-04-14 05:00:00+00:00   7101.50   7101.50   7100.00   7100.00
        2020-04-22 05:00:00+00:00   7118.50   7118.50   7118.50   7118.50
        2020-04-28 05:00:00+00:00   7748.50   7836.00   7748.50   7836.00
        2020-04-30 05:00:00+00:00   8829.00   8829.00   8653.00   8653.00
...                                     ...       ...       ...       ...
        2023-01-08 06:00:00+00:00  16935.27  17248.53  16910.00  17196.67
        2023-01-09 06:00:00+00:00  17198.94  17387.05  17126.73  17221.37
        2023-01-10 06:00:00+00:00  17221.10  17500.00  17182.07  17402.92
        2023-01-11 06:00:00+00:00  17401.42  18350.00  17312.68  18079.38
        2023-01-12 06:00:00+00:00  18079.40  19109.28  17919.62  18834.83

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2020-04-08 05:00:00+00:00      0.000100          1.0   7314.000000
        2020-04-14 05:00:00+00:00      0.000200          2.0   7100.750000
        2020-04-22 05:00:00+00:00      0.000100          1.0   7118.500000
        2020-04-28 05:00:00+00:00      0.084000          2.0   7835.687500
        2020-04-30 05:00:00+00:00      0.013400          3.0   8715.805970
...                                         ...          ...           ...
        2023-01-08 06:00:00+00:00   4780.862636      60160.0  17095.062466
        2023-01-09 06:00:00+00:00   6368.736182      88983.0  17245.549935
        2023-01-10 06:00:00+00:00   7089.683228      85482.0  17355.307832
        2023-01-11 06:00:00+00:00  11652.868871     130476.0  17807.792543
        2023-01-12 06:00:00+00:00  17258.441671     195556.0  18410.393449

[980 rows x 7 columns]

In [19]:
# Checking info
btc_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 980 entries, ('BTC/USD', Timestamp('2020-04-08 05:00:00+0000', tz='UTC')) to ('BTC/USD', Timestamp('2023-01-12 06:00:00+0000', tz='UTC'))
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         980 non-null    float64
 1   high         980 non-null    float64
 2   low          980 non-null    float64
 3   close        980 non-null    float64
 4   volume       980 non-null    float64
 5   trade_count  980 non-null    float64
 6   vwap         980 non-null    float64
dtypes: float64(7)
memory usage: 96.6+ KB

In [20]:
# Reset index to access symbol and timestamp as columns
btc_df = btc_df.reset_index()
btc_df

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,BTC/USD,2020-04-08 05:00:00+00:00,7314.00,7314.00,7314.00,7314.00,0.000100,1.0,7314.000000
1,BTC/USD,2020-04-14 05:00:00+00:00,7101.50,7101.50,7100.00,7100.00,0.000200,2.0,7100.750000
2,BTC/USD,2020-04-22 05:00:00+00:00,7118.50,7118.50,7118.50,7118.50,0.000100,1.0,7118.500000
3,BTC/USD,2020-04-28 05:00:00+00:00,7748.50,7836.00,7748.50,7836.00,0.084000,2.0,7835.687500
4,BTC/USD,2020-04-30 05:00:00+00:00,8829.00,8829.00,8653.00,8653.00,0.013400,3.0,8715.805970
...,...,...,...,...,...,...,...,...,...
975,BTC/USD,2023-01-08 06:00:00+00:00,16935.27,17248.53,16910.00,17196.67,4780.862636,60160.0,17095.062466
976,BTC/USD,2023-01-09 06:00:00+00:00,17198.94,17387.05,17126.73,17221.37,6368.736182,88983.0,17245.549935
977,BTC/USD,2023-01-10 06:00:00+00:00,17221.10,17500.00,17182.07,17402.92,7089.683228,85482.0,17355.307832
978,BTC/USD,2023-01-11 06:00:00+00:00,17401.42,18350.00,17312.68,18079.38,11652.868871,130476.0,17807.792543
979,BTC/USD,2023-01-12 06:00:00+00:00,18079.40,19109.28,17919.62,18834.83,17258.441671,195556.0,18410.393449

In [21]:
# Revising time out of timestamp column
import datetime as dt
btc_df['timestamp'] = btc_df['timestamp'].dt.date
btc_df

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,BTC/USD,2020-04-08,7314.00,7314.00,7314.00,7314.00,0.000100,1.0,7314.000000
1,BTC/USD,2020-04-14,7101.50,7101.50,7100.00,7100.00,0.000200,2.0,7100.750000
2,BTC/USD,2020-04-22,7118.50,7118.50,7118.50,7118.50,0.000100,1.0,7118.500000
3,BTC/USD,2020-04-28,7748.50,7836.00,7748.50,7836.00,0.084000,2.0,7835.687500
4,BTC/USD,2020-04-30,8829.00,8829.00,8653.00,8653.00,0.013400,3.0,8715.805970
...,...,...,...,...,...,...,...,...,...
975,BTC/USD,2023-01-08,16935.27,17248.53,16910.00,17196.67,4780.862636,60160.0,17095.062466
976,BTC/USD,2023-01-09,17198.94,17387.05,17126.73,17221.37,6368.736182,88983.0,17245.549935
977,BTC/USD,2023-01-10,17221.10,17500.00,17182.07,17402.92,7089.683228,85482.0,17355.307832
978,BTC/USD,2023-01-11,17401.42,18350.00,17312.68,18079.38,11652.868871,130476.0,17807.792543
979,BTC/USD,2023-01-12,18079.40,19109.28,17919.62,18834.83,17258.441671,195556.0,18410.393449

In [23]:
# Setting up pivot to get subset of closing prices
btc_pivot = btc_df.pivot_table(values='close', index='timestamp', columns='symbol')
btc_pivot

symbol       BTC/USD
timestamp
2020-04-08   7314.00
2020-04-14   7100.00
2020-04-22   7118.50
2020-04-28   7836.00
2020-04-30   8653.00
...              ...
2023-01-08  17196.67
2023-01-09  17221.37
2023-01-10  17402.92
2023-01-11  18079.38
2023-01-12  18834.83

[980 rows x 1 columns]

In [24]:
# Checking for nulls
btc_pivot.isnull().sum()

symbol
BTC/USD    0
dtype: int64

In [25]:
# Running percentage change calculation and conversion
btc_daily = btc_pivot.pct_change()
btc_daily

symbol       BTC/USD
timestamp
2020-04-08       NaN
2020-04-14 -0.029259
2020-04-22  0.002606
2020-04-28  0.100794
2020-04-30  0.104262
...              ...
2023-01-08  0.015391
2023-01-09  0.001436
2023-01-10  0.010542
2023-01-11  0.038870
2023-01-12  0.041785

[980 rows x 1 columns]

In [26]:
# Recheck nulls
btc_daily.isnull().sum()

symbol
BTC/USD    1
dtype: int64

In [27]:
# Drop nulls
btc_daily = btc_daily.dropna()
btc_daily

symbol       BTC/USD
timestamp
2020-04-14 -0.029259
2020-04-22  0.002606
2020-04-28  0.100794
2020-04-30  0.104262
2020-05-01  0.018895
...              ...
2023-01-08  0.015391
2023-01-09  0.001436
2023-01-10  0.010542
2023-01-11  0.038870
2023-01-12  0.041785

[979 rows x 1 columns]

In [28]:
# Checking info
btc_daily.info()

<class 'pandas.core.frame.DataFrame'>
Index: 979 entries, 2020-04-14 to 2023-01-12
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BTC/USD  979 non-null    float64
dtypes: float64(1)
memory usage: 15.3+ KB

In [29]:
# Setting up dependencies for stock price data
from alpaca.data.historical import StockHistoricalDataClient
from alpaca.data.requests import StockBarsRequest

In [30]:
# keys required for stock historical data client
stock_client = StockHistoricalDataClient(alpaca_api_key, alpaca_secret_key)

In [31]:
# params request for multiple tickers
multisymbol_request_params = StockBarsRequest(symbol_or_symbols=["SPY", "GLD", "TLT"],
                                              timeframe=TimeFrame.Day, 
                                              start=datetime.strptime("2020-04-08", '%Y-%m-%d')
                                             )

In [32]:
# pulling data
historical_quotes = stock_client.get_stock_bars(multisymbol_request_params)

In [34]:
# Display as dataframe
historical_quotes.df

                                    open    high       low   close  \
symbol timestamp
GLD    2020-04-08 04:00:00+00:00  155.91  155.94  154.5900  154.65
       2020-04-09 04:00:00+00:00  158.08  159.08  157.2100  158.58
       2020-04-13 04:00:00+00:00  159.17  162.38  158.6250  161.41
       2020-04-14 04:00:00+00:00  162.73  164.42  161.7800  162.66
       2020-04-15 04:00:00+00:00  161.80  162.54  160.8061  162.00
...                                  ...     ...       ...     ...
TLT    2023-01-06 05:00:00+00:00  102.70  105.30  102.6400  105.18
       2023-01-09 05:00:00+00:00  104.41  105.93  104.2700  105.74
       2023-01-10 05:00:00+00:00  104.53  104.82  103.5000  103.99
       2023-01-11 05:00:00+00:00  104.97  105.72  104.7000  105.68
       2023-01-12 05:00:00+00:00  105.82  107.81  104.5600  107.76

                                      volume  trade_count        vwap
symbol timestamp
GLD    2020-04-08 04:00:00+00:00   7600804.0      60704.0  155.233884
       2020-04-09 04:00:00+00:00  18123039.0     140239.0  158.255634
       2020-04-13 04:00:00+00:00  20549213.0     140401.0  160.906373
       2020-04-14 04:00:00+00:00  17095086.0     146336.0  163.197557
       2020-04-15 04:00:00+00:00  12141890.0      95518.0  161.749049
...                                      ...          ...         ...
TLT    2023-01-06 05:00:00+00:00  27473733.0     154552.0  104.640157
       2023-01-09 05:00:00+00:00  21589615.0     117697.0  105.338908
       2023-01-10 05:00:00+00:00  20546925.0     132695.0  104.052210
       2023-01-11 05:00:00+00:00  18794029.0     106973.0  105.209779
       2023-01-12 05:00:00+00:00  32030608.0     175171.0  106.745055

[2091 rows x 7 columns]

In [35]:
# Save as df variable
stock_df = historical_quotes.df
stock_df

                                    open    high       low   close  \
symbol timestamp
GLD    2020-04-08 04:00:00+00:00  155.91  155.94  154.5900  154.65
       2020-04-09 04:00:00+00:00  158.08  159.08  157.2100  158.58
       2020-04-13 04:00:00+00:00  159.17  162.38  158.6250  161.41
       2020-04-14 04:00:00+00:00  162.73  164.42  161.7800  162.66
       2020-04-15 04:00:00+00:00  161.80  162.54  160.8061  162.00
...                                  ...     ...       ...     ...
TLT    2023-01-06 05:00:00+00:00  102.70  105.30  102.6400  105.18
       2023-01-09 05:00:00+00:00  104.41  105.93  104.2700  105.74
       2023-01-10 05:00:00+00:00  104.53  104.82  103.5000  103.99
       2023-01-11 05:00:00+00:00  104.97  105.72  104.7000  105.68
       2023-01-12 05:00:00+00:00  105.82  107.81  104.5600  107.76

                                      volume  trade_count        vwap
symbol timestamp
GLD    2020-04-08 04:00:00+00:00   7600804.0      60704.0  155.233884
       2020-04-09 04:00:00+00:00  18123039.0     140239.0  158.255634
       2020-04-13 04:00:00+00:00  20549213.0     140401.0  160.906373
       2020-04-14 04:00:00+00:00  17095086.0     146336.0  163.197557
       2020-04-15 04:00:00+00:00  12141890.0      95518.0  161.749049
...                                      ...          ...         ...
TLT    2023-01-06 05:00:00+00:00  27473733.0     154552.0  104.640157
       2023-01-09 05:00:00+00:00  21589615.0     117697.0  105.338908
       2023-01-10 05:00:00+00:00  20546925.0     132695.0  104.052210
       2023-01-11 05:00:00+00:00  18794029.0     106973.0  105.209779
       2023-01-12 05:00:00+00:00  32030608.0     175171.0  106.745055

[2091 rows x 7 columns]

In [36]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2091 entries, ('GLD', Timestamp('2020-04-08 04:00:00+0000', tz='UTC')) to ('TLT', Timestamp('2023-01-12 05:00:00+0000', tz='UTC'))
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         2091 non-null   float64
 1   high         2091 non-null   float64
 2   low          2091 non-null   float64
 3   close        2091 non-null   float64
 4   volume       2091 non-null   float64
 5   trade_count  2091 non-null   float64
 6   vwap         2091 non-null   float64
dtypes: float64(7)
memory usage: 142.3+ KB